@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');

body{
    background-color: hsl(216, 50%, 16%);
}

*{
    margin: 0;
    padding: 0; 
}

h1, .paragraphAvatar, .paragraphEquilibrium, .eth, .days{
    font-family: 'Outfit', sans-serif;
}

h1, p{
    color: hsl(0, 0%, 100%);
}

h1{
    font-size:20px;
    position: relative;
    margin-left: 19px;
}

.paragraphEquilibrium{
    font-size:18px;
    position: relative;
    margin: 15px 19px;
    color: hsl(215, 51%, 70%);
}

.equilibrium{
    position: relative;
    margin-left: 15px;
    margin-top: 4%;
    width: 44vh;
    height: 43vh;
    border-radius:10%;
}

.container{
    width: 50vh;
    border-radius: 4%;
    position: relative;
    margin-left: 35%;
    margin-top:1%;
    box-shadow: 0px 0px 10px rgba(51, 50, 50, 0.6);
    background-color: hsl(217, 54%, 11%);
}

.container-infomation{
    display: flex;
    justify-content: space-between;
    position: relative;
    margin: 10px 10px;
}

.container-infomation > .eth{
    color: hsl(178, 100%, 50%);
    position: relative;
    margin: 0px 5px;
}

.container-infomation > .days {
    color: hsl(215, 51%, 70%);
    position: relative;
    margin: 1px 10px;
}

hr{
    margin: 15px;
    color: hsl(215, 51%, 70%);
}

.container-avatar {
    display : flex;
    margin: 10px 10px;
}

.paragraphAvatar{
    position: relative;
    margin: 7px 10px 13px;
    font-size: 18px;
}

.imgAvatar{
    height: 3vw;
    margin-bottom: 10px;
    margin-top: 3px;
    background-color: hsl(0, 0%, 100%);
    border-radius:45%; 
}

